.top-m{
    background-color: yellow;
}
.top-main{
    background-color: blue;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
    color: white;
    border-bottom-right-radius: 264px;
}
.top-h{
    font-weight: 600;
    font-size: 3rem;
    padding-top: 80px;
    padding-bottom: 80px;

}

.trade-mid{
   
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.trade-img{
    height: 400px;
    width: 300px;
    padding-top: 60px;
}

.trade-mid-r{
    display: flex;
    flex-direction: column;
    padding:40px;
    padding-right: 60px;
}
.trade-mid-rh1{
    font-weight: 600;
    font-size: 2.25rem;
}
.trade-mid-rp{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 30px;
}
.trade-mid-re{
    margin-top: 80px;
    width: 100%;
    text-align: center;
    color: #2D00F7;
}
.divider{
    
    background-color: black;
}


.t-b{
    display: flex;
    justify-content: center;
    background-color: blue;
}


.t-bh{
    font-weight: 600;
    font-size: 2.25rem;
    padding-top: 88px;
    padding-left: 155px;
    padding-right: 155px;
    padding-bottom: 40px;
}
.t-bp{
    font-size: 1rem;
    font-weight: 300;
      font-family:     Rubik,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin-bottom: 24px;  
    padding-left: 140px;
    padding-right: 140px;  
    text-align: center;
}
#t-btn{
    color: #0000FF;
     padding-top: 10px;
     margin-bottom:86px;
}

@media(max-width:420px){
    #t-btn{
        color: #0000FF;
        margin-left: 5px;
        margin-right: 5px;
         margin-bottom:36px;
    }
}
@media(max-width:380px){
    #t-btn{
        color: #0000FF;
        margin-left: 10px;
        margin-right: 10px;
         margin-bottom:36px;
    }
}


@media(max-width:768px){
    #t-btn{
    color: #0000FF;
     padding: 20px;
     margin-bottom:36px;
}

    .t-bh{
        font-weight: 600;
        font-size: 1.5rem;
        padding-top: 48px;
        padding-left: 20px;
        padding-right: 20px;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }
    .t-bp{
        font-size: 1rem;
        font-weight: 300;
          font-family:     Rubik,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
        margin-bottom: 24px;  
        padding-left: 20px;
        padding-right:20px;  
        text-align: center;
    }


    .top-h{
        font-weight: 600;
        font-size: 1.87rem;
        padding-top: 60px;
        padding-bottom: 40px;
    
    }
    .t-bh{
        font-weight: 600;
        font-size: 1.5rem;
    }
    .trade-img{
       display: none;
    }   
    .trade-mid-r{
        align-items: center;
        padding:5px;
    }

    .trade-mid-rp{
        font-size: 1rem;
        font-weight: 600;
        margin-top: 4px;
        margin-bottom: 15px;
    }
  
    .trade-mid-rh1{
        font-weight: 600;
        font-size: 1.5rem;
    }
    .top-main{
       
        border-bottom-right-radius: 80px;
        padding-bottom:16px;
    }
    .trade-mid-re{
        margin-top: 80px;
        width: 100%;
        text-align: center;
        color: #2D00F7;
    }
}
@media(max-width:980px){
    .trade-img{
        height: 350px;
        width: 250px;
    } 
    .trade-mid-r{
     
        padding-right: 40px;
    }

}

